@page "/experience"
@using System.Net.Http
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using System.Net.Http.Json

<h3>Experience List</h3>

@if (experiences == null)
{
    <p>Loading...</p>
}
else if (experiences.Length == 0)
{
    <p>No experiences found.</p>
}
else
{
    <ul>
        @foreach (var experience in experiences)
        {
            <li>@experience.Title - @experience.Companies.First().Name (@experience.AnoIni - @experience.AnoFim)</li>
        }
    </ul>
}

@code {
    private ExperienceItem[]? experiences;
    private HttpClient httpClient;

    public Experience()
    {
    // Initialize HttpClient in the constructor
        httpClient = new HttpClient();
    }

    protected override async Task OnInitializedAsync()
    {
        experiences = await httpClient.GetFromJsonAsync<ExperienceItem[]>("http://localhost:5052/api/Experiencias");
    }

    public partial class ExperienceItem
    {
        public Guid Id { get; set; }

        public string Title { get; set; } = null!;

        public int AnoIni { get; set; }

        public int AnoFim { get; set; }

        public virtual ICollection<Company> Companies { get; set; } = new List<Company>();
    }
    
    public partial class Company
    {
        public Guid Id { get; set; }

        public string Name { get; set; } = null!;
    }
    
}