@page "/propostas"
@using System.Net.Http
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using System.Net.Http.Json
@using Microsoft.EntityFrameworkCore
@using System.Net

<h3>Lista de Propostas</h3>

@if (experiences == null)
{
    <p>Loading...</p>
}
else if (experiences.Length == 0)
{
    <p>No experiences found.</p>
}
else
{
    <ul>
        <li>Nome - Empresa - Categoria - Descrição</li>
        @foreach (var experience in experiences)
        {
            <li>@experience.Users.First().Name - @experience.Companies.First().Name - @experience.Categorias.First().Name - @experience.Descricao
            <button id=@experience.Id class="btn btn-danger btn-sm" @onclick="() => ButtonClick(experience.Id)">X</button>
            </li>                                                                                                   
        }
    </ul>
}

@code {
    private PropostasItem[]? experiences;
    private HttpClient httpClient;

    public Propostas()
    {
    // Initialize HttpClient in the constructor
        httpClient = new HttpClient();
    }

    protected override async Task OnInitializedAsync()
    {
        experiences = await httpClient.GetFromJsonAsync<PropostasItem[]>("http://localhost:5052/api/Propostas");
    }

    public partial class PropostasItem
    {
        public Guid Id { get; set; }

        public string Descricao { get; set; } = null!;

        public Guid IdCompany { get; set; }
    
        public Guid IdUser { get; set; }
    
        public Guid IdCategoria { get; set; }

        public virtual ICollection<Categoria> Categorias { get; set; } = new List<Categoria>();
    
        public virtual ICollection<Company> Companies { get; set; } = new List<Company>();
    
        public virtual ICollection<User> Users { get; set; } = new List<User>();
    }
    
    public partial class Company
    {
        public Guid Id { get; set; }

        public string Name { get; set; } = null!;
    }
    
    public partial class Categoria
    {
        public Guid Id { get; set; }

        public string Name { get; set; } = null!;
    }
    
    public partial class User
    {
        public Guid Id { get; set; }

        public string Name { get; set; } = null!;

        public string Email { get; set; } = null!;
        
    
        public string Country { get; set; } = null!;

        public float PrHora { get; set; }
    }
    
    protected async Task ButtonClick(Guid id)
    {
        HttpResponseMessage response = await httpClient.DeleteAsync($"http://localhost:5052/api/Propostas/{id}");

        if (response.IsSuccessStatusCode)
        {
    // Remove the deleted experience from the local collection
            experiences = experiences.Where(e => e.Id != id).ToArray();
        }
        else if (response.StatusCode == HttpStatusCode.NotFound)
        {
    // Handle not found error
            Console.WriteLine("Experience not found.");
        }
        else
        {
    // Handle other errors
            Console.WriteLine("An error occurred while deleting the experience.");
        }
    }

    
}