@page "/user/{Id}"
@using System.Net.Http
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using System.Net.Http.Json
@using System.Net

<h3>Utilizador: </h3>

@if (experiences == null)
{
    <p>Loading...</p>
}
else if (experiences.Length == 0)
{
    <p>No experiences found.</p>
}
else
{
    @foreach (var experience in experiences)
        {
            <p><b>Nome: </b>@experience.Name</p>
            <p><b>Country: </b>@experience.Country</p>
            <p><b>Email: </b>@experience.Email</p>
            <p><b>Ganho mensal: </b>@(experience.PrHora * 176.00)€ </p>            
        }
}

@code {
    private UserItem[]? experiences;
    private HttpClient httpClient;

    [Parameter]
    public String Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        httpClient = new HttpClient();
        experiences = await httpClient.GetFromJsonAsync<UserItem[]>($"http://localhost:5052/api/Users/{Id}");
    }

    public partial class UserItem
    {
        public Guid Id { get; set; }
        public string Name { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string Country { get; set; } = null!;
        public double PrHora { get; set; }
    }
}